### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

In [2]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
total_players=purchase_data_df["SN"].count()

total_players

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
Unique_Items=purchase_data_df["Item Name"].nunique()

Unique_Items

179

In [5]:
#purchase_data_df["Price"] = purchase_data_df["Price"].astype(float).map("${:,.2f}".format)

Average_Price = purchase_data_df["Price"].mean()

Average_Price

3.050987179487176

In [6]:
Number_of_Purchases=purchase_data_df["Purchase ID"].count()

Number_of_Purchases

780

In [7]:
Total_Revenue=purchase_data_df["Price"].sum()

Total_Revenue

2379.77

In [8]:
summary_df=pd.DataFrame(
    {
    "Unique Items": Unique_Items,
    "Average Price": Average_Price,
    "Number of Purchases": Number_of_Purchases,
    "Total Revenue": Total_Revenue
},index=[0])
summary_df

   Unique Items  Average Price  Number of Purchases  Total Revenue
0           179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
Count=purchase_data_df["Gender"].value_counts()

Count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [10]:
Male = Count["Male"]

Percent = Male/total_players

Percent

0.8358974358974359

In [11]:
Female = Count["Female"]

Percent = Female/total_players

Percent

0.14487179487179488

In [12]:
Other = Count["Other / Non-Disclosed"]

Percent = Other/total_players

Percent

0.019230769230769232


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
count=purchase_data_df[["Gender", "Item Name"]].value_counts()

count

Gender  Item Name
Male    Final Critic                                    11
        Oathbreaker, Last Hope of the Breaking Storm     9
        Lightning, Etcher of the King                    8
        Persuasion                                       8
        Winter's Bite                                    7
                                                        ..
Female  Twilight's Carver                                1
        Unending Tyranny                                 1
        Vengeance Cleaver                                1
        Venom Claymore                                   1
        Aetherius, Boon of the Blessed                   1
Length: 281, dtype: int64

In [14]:
average_price=purchase_data_df[["Gender", "Price"]].value_counts()

In [15]:
male=average_price["Male"].mean()

male

4.527777777777778

In [16]:
female=average_price["Female"].mean()

female

1.4303797468354431

In [17]:
other=average_price["Other / Non-Disclosed"].mean()

other

1.25

In [18]:
total_per_person=purchase_data_df[["Gender", "SN"]].value_counts()

total_per_person

Gender  SN
Male    Lisosia93      5
        Iral74         4
        Idastidru52    4
Female  Yathecal82     3
Male    Tyisur83       3
                      ..
        Lirtassa52     1
        Lirtassan78    1
        Lirtastan49    1
        Lirtilsa71     1
Female  Adastirin33    1
Length: 576, dtype: int64

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [19]:
Age_df=purchase_data_df["Age"].unique()

Age_df

array([20, 40, 24, 23, 22, 36, 35, 21, 30, 38, 29, 11,  7, 19, 37, 10,  8,
       18, 27, 33, 32, 25, 12, 34, 17, 15, 13, 26, 16, 28, 31, 39, 44, 41,
        9, 14, 42, 43, 45], dtype=int64)

In [20]:
bins=[0, 10, 20, 30, 40, 50]

group_names=["0-10", "11-20", "21-30", "31-40", "41-50"]

group_names

['0-10', '11-20', '21-30', '31-40', '41-50']

In [21]:
pd.cut(purchase_data_df["Age"], bins, labels=group_names).head()

0    11-20
1    31-40
2    21-30
3    21-30
4    21-30
Name: Age, dtype: category
Categories (5, object): ['0-10' < '11-20' < '21-30' < '31-40' < '41-50']

In [22]:
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=group_names)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,11-20
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,31-40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,21-30
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,21-30
4,4,Iskosia90,23,Male,131,Fury,1.44,21-30
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,21-30
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,21-30
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,11-20
778,778,Sisur91,7,Male,92,Final Critic,4.19,0-10
779,779,Ennrian78,24,Male,50,Dawn,4.60,21-30

In [23]:
player_age_group = purchase_data_df.groupby("Age Group")

print(player_age_group["SN"].count())

Age Group
0-10      32
11-20    254
21-30    402
31-40     85
41-50      7
Name: SN, dtype: int64

In [24]:
percent_age=bins/total_players

percent_age

array([0.        , 0.01282051, 0.02564103, 0.03846154, 0.05128205,
       0.06410256])

In [25]:
summary_df=pd.DataFrame(
    {
    "Numbers": [Age_df],
    "percent age":[percent_age]
},index=[0])
summary_df

,Numbers,percent age
0,"[20, 40, 24, 23, 22, 36, 35, 21, 30, 38, 29, 1...","[0.0, 0.01282051282051282, 0.02564102564102564..."

  ##Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [26]:
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=group_names)

In [27]:
purchase_count=purchase_data_df["SN"].value_counts()

purchase_count

Lisosia93       5
Iral74          4
Idastidru52     4
Lassilsala30    3
Chamjask73      3
               ..
Lisovynya38     1
Undotesta33     1
Isursuir31      1
Yana46          1
Undirrasta89    1
Name: SN, Length: 576, dtype: int64

In [28]:
average_per_person=purchase_count.mean()

average_per_person

1.3541666666666667

In [29]:
average_price=purchase_data_df["Price"].mean()

average_price

3.050987179487176

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [30]:
Top_Spender = purchase_data_df[["SN", "Price"]].max()

Top_Spender

SN       Zontibe81
Price         4.99
dtype: object

In [31]:
purchase_data_df

purchase_data_df.sort_values(by='Age', ascending=False)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70,41-50
728,728,Chanosiaya39,44,Male,93,Apocalyptic Battlescythe,1.97,41-50
248,248,Isursuir31,44,Male,137,"Aetherius, Boon of the Blessed",3.39,41-50
674,674,Aeral68,43,Male,77,"Piety, Guardian of Riddles",4.00,41-50
557,557,Frichaya88,42,Male,8,"Purgatory, Gem of Regret",3.93,41-50
...,...,...,...,...,...,...,...,...
481,481,Sondossa69,7,Male,179,"Wolf, Promise of the Moonwalker",4.48,0-10
78,78,Haillyrgue51,7,Male,50,Dawn,4.60,0-10
610,610,Frichossala54,7,Male,159,"Oathbreaker, Spellblade of Trials",3.08,0-10
515,515,Haillyrgue51,7,Male,40,Second Chance,2.52,0-10
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,0-10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [32]:
purchase_data_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price',
       'Age Group'],
      dtype='object')

In [33]:
Item_df=purchase_data_df.loc[:, ["Item ID", "Item Name", "Price"]]

Item_df.sort_values(by='Price', ascending=False)

     Item ID                   Item Name  Price
554       63              Stormfury Mace   4.99
189       63              Stormfury Mace   4.99
110      139     Mercy, Katana of Dismay   4.94
246      139     Mercy, Katana of Dismay   4.94
493      139     Mercy, Katana of Dismay   4.94
..       ...                         ...    ...
586      155   War-Forged Gold Deflector   1.01
282      155   War-Forged Gold Deflector   1.01
371      155   War-Forged Gold Deflector   1.01
63       125  Whistling Mithril Warblade   1.00
418      125  Whistling Mithril Warblade   1.00

[780 rows x 3 columns]

In [34]:
average_item_price=Item_df["Price"].mean()

average_item_price

3.050987179487176

In [35]:
Purchase_count=Item_df.groupby(["Item ID" ,"Item Name"])

Purchase_count.count()

                                                      Price
Item ID Item Name
0       Splinter                                          4
1       Crucifer                                          4
2       Verdict                                           6
3       Phantomlight                                      6
4       Bloodlord's Fetish                                5
...                                                     ...
178     Oathbreaker, Last Hope of the Breaking Storm     12
179     Wolf, Promise of the Moonwalker                   6
181     Reaper's Toll                                     5
182     Toothpick                                         3
183     Dragon's Greatsword                               3

[179 rows x 1 columns]

In [36]:
Total_purchase_value=Item_df["Price"].sum()

Total_purchase_value

2379.77

In [37]:
summary_df=pd.DataFrame(
    {
    "Average Item Price": average_item_price,
    "Number of Purchases": [purchase_count]
},index=[0])
summary_df

   Average Item Price                                Number of Purchases
0            3.050987  Lisosia93       5
Iral74          4
Idastidru5...

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [38]:
Item_df.sort_values("Total_purchase_value", ascending=False)

Item_df

KeyError: 'Total_purchase_value'